<html>
    <head>
        <style>
            *{box-sizing: border-box;}
            body,html{
                margin:0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            
        </style>
        <script>
            
        </script>
    </head>
    <body>
        <div style="width: 100%;height: 100%;text-align: center;">
            <img src="https://p9-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/5bd95db5298947e6b3473dcddb862c8f~tplv-k3u1fbpfcp-watermark.image"  style="width: 320px;height: auto;"/>
        </div>
    </body>
</html>