<html>
    <head>
        <style>
            *{box-sizing: border-box;}
            body,html{
                margin:0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            
        </style>
        <script>
            
        </script>
    </head>
    <body>
        <div style="width: 100%;height: 100%;text-align: center;">
            <img src="https://rainbow1024.com/ilovejuejin/dingtalk.jpg"  style="width: 300px;height: auto;"/>
        </div>
    </body>
</html>